<section id="intro">
  <div class="jumbotron masthead">

    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="camera_wrap camera_black_skin" id="camera_wrap_2">
            <div data-thumb="<%= asset_path 'bootstrap/img/slides/camera/img2.jpg' %>" data-src="<%= asset_path 'bootstrap/img/slides/camera/img2.jpg' %>">
              <div class="camera_caption fadeFromBottom">
                <h2>Disponible para dispositivos móviles</h2>
                <div class="hidden-phone">
                  <p>
                    Puedes acceder al sistema desde tus dispositivos móviles, con el mismo usuario y password.
                  </p>
                </div>
              </div>
            </div>
            <div data-thumb="<%= asset_path 'bootstrap/img/slides/camera/img3.jpg' %>" data-src="<%= asset_path 'bootstrap/img/slides/camera/img3.jpg' %>">
              <div class="camera_caption fadeFromBottom">
                <h2>Diseño amigable</h2>
                <div class="hidden-phone">
                  <p>
                    Cada color y tamaño de letra están debídamente selecionados para ser intuitivos y ayudarte a encontrar lo que buscas.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- #camera_wrap_1 -->

        </div>
      </div>
    </div>
  </div>
</section>

<!-- end tagline -->

<section id="maincontent">
  <div class="container">

    <div class="row">
      <div class="span3">
        <h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Características principales</h3>
        <p>Solo lo mejor de lo mejor para ti.</p>
      </div>
      <div class="span3">
        <div class="well well-primary box">
          <img src="<%= asset_path 'bootstrap/img/icons/box-1-white.png' %>" alt="" />
          <h3>Disponible para dispositivos móviles</h3>
          <p>
            Puedes acceder al sistema desde tus dispositivos móviles, con el mismo usuario y password.
          </p>
        </div>
      </div>
      <div class="span3">
        <div class="well well-success box">
          <img src="<%= asset_path 'bootstrap/img/icons/box-2-white.png' %>" alt="" />
          <h3>Diseño amigable</h3>
          <p>
            Cada color y tamaño de letra están debídamente selecionados para ser intuitivos y ayudarte a encontrar lo que buscas.
          </p>
        </div>
      </div>
      <div class="span3">
        <div class="well well-warning box">
          <img src="<%= asset_path 'bootstrap/img/icons/box-3-white.png' %>" alt="" />
          <h3>Basado en el estandar ITIL</h3>
          <p>
            Compatible con respecto a la introducción de normas internacionales y otros modelos de gestión paralelos en la Organización
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer
 ================================================== -->
 <footer class="footer">

  <div class="verybottom">
    <div class="container">
      <div class="row">
        <div class="span6">
          <p>Grupo 1 - 8vo A Sistemas</p>
        </div>
        <div class="span6">
          <div class="pull-right">
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
